/* --- BASE GENERAL --- */
body {
  font-family: Arial, sans-serif;
  background: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Contenedor general */
.contenedor {
  width: 95%;
  max-width: 550px;
  margin: 0 auto;
  padding: 20px 0;
}

/* --- ENCABEZADO --- */
header {
  width: 100%;
  text-align: center;
  background: #0D596A;
  padding: 25px;
  border-radius: 10px;
  margin-bottom: 25px; /* 🔹 separa del contenido */
  color: white;
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}

/* --- BARRA SUPERIOR --- */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

/* --- LOGO --- */
.logo img {
  height: 70px;
  width: 70px;
  object-fit: cover;
  border-radius: 10px;
  background: white;
}

/* --- BOTONES CONTACTO --- */
.contacto {
  display: flex;
  gap: 10px;
}

.btn {
  text-decoration: none;
  padding: 10px 14px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 16px;
  transition: 0.3s;
}

.telefono {
  background: #3498db;
  color: white;
}

.whatsapp {
  background: #25d366;
  color: white;
}

.btn:hover {
  opacity: 0.85;
}

/* --- BUSCADOR --- */
#buscador {
  margin-top: 15px;
  padding: 12px;
  width: 100%;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 8px;
}

/* --- CATEGORÍAS --- */
.categoria {
  width: 100%;
  margin-bottom: 30px;
}

.categoria h2 {
  background: #0D596A;
  color: white;
  padding: 12px;
  border-radius: 8px;
  font-size: 20px;
}

/* --- LISTA PRODUCTOS --- */
ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px dashed #ccc;
}

/* --- IMAGEN PRODUCTO --- */
.producto-img {
  width: 55px;
  height: 55px;
  object-fit: cover;
  border-radius: 8px;
  margin-right: 10px;
  flex-shrink: 0;
}

/* precio */
.precio {
  font-weight: bold;
  color: #008000;
}
